@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

body {
    margin: 0;
    background-color: #f2f4db;
}

* {
    box-sizing: border-box;
}

.pagewrapper {
    display: flex;
    height: 100vh;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    padding: 1em;
}

.left img {
    width: 100%;
}

.right {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 25vw;
    background-color: rgb(207, 230, 189);
    padding: 1em;
}

input {
    margin: .5em 0 .5em 0;
}

#certificate>img {
    display: none;
}

#certificate.cactuar img#cactuar{
    display:block;
}

#certificate.axel img#axel{
    display:block;
}

#certificate.deuce img#deuce{
    display:block;
}

#nameOutput{
    font-family: "Teko", sans-serif;
    position: absolute;
    top: 40%;
    left: 42%;
    text-align: center;
    font-size: 2.5em;
}

#theDate {
    font-family: "Teko", sans-serif;
    position: absolute;
    bottom: 30%;
    left: 40%;
}
